table tr td{
    height: 70px;
    width: 60px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    color:red;
    font-weight: bold;
    cursor: pointer;
}
table tr td:hover{
    background-color: #d3d3d3;
}
table tr td:first-child{
    border-right: 1px solid black;
}
table tr td:last-child{
    border-left: 1px solid black;
}
table tr:first-child td{
    border-bottom: 1px solid black;
}
table tr:last-child td{
    border-top: 1px solid black;
}
table {
    border-collapse:collapse;
}