.tragaperras{
    position: absolute;
    width: 400px;
    height: 600px;
    border: 2px black solid;
    border-radius: 50% 50% 0 0;
    background-color: white;
    display:block;

}

.pantalla{
    width: 200px;
    height: 200px;
    display: block;
    background-color:black;
    position: relative;
    top:20%;
    left: 25%;
}
.slot{
    border: 1px solid white;
    height: 100%;
    width: 32.3333%;
    display: block-inline;
    float: left;
    margin-bottom: 0%;
    overflow: hidden;
}

@keyframes desplazar{
    from {
        margin-top:-329px;
    }
    to{
        margin-top:0px;
    }
}
.movimiento{
    animation: 2s desplazar infinite;
    
}
.circulo{
    width: 60px;
    height: 48px;
    max-height:60px;
    display: block;
    background-color: fuchsia;
    border-radius:50%;
    margin-bottom: 6px;
    margin-left: 3px;
    text-align:center;
    color:white;
    font-size:24px;
    font-weight: bold;
    padding-top:12px;
    overflow-y: hidden;
}

.circulo:nth-child(1){
    margin-top:-329px;
}

.right{
    float: right;
    margin-right: 50%;
}
.right:hover .circulos:nth-child(1) .circulo:nth-child(1){
    animation: 2s desplazar infinite;
    
}