.bolita{
    width: 50px;
    height: 50px;
    border-radius:50%;
    display:block;
}

.gris{
    background: gray;
}

.verde{
    background: green;
}

.rojo{
    background: red;
}

.azul{
    background: blue;
}