*{
    padding:0;
    margin:0;
}

.principal{
    
    width:100%;
    min-height: 100vh;
    height: 100%;
    background-color: aliceblue;
    display:block;
}

.principal div:nth-child(1){
    background-color:green;
    width:200px;
    height: 200px;
    color:white;
    text-align: center;
    align-items: center;
    font-size: 150px;
    padding-top:20px;
    display:inline-block;
}

.principal div:nth-child(2){
    background-color:blue;
    width:200px;
    height: 200px;
    color:white;
    text-align: center;
    align-items: center;
    font-size: 150px;
    padding-top:20px;
    display:inline-block;
}
.principal div:nth-child(3)::before{
    content: "";
    clear:left;
    display:block;
}
.principal div:nth-child(3){
    background-color:red;
    width:200px;
    height: 200px;
    color:white;
    text-align: center;
    align-items: center;
    font-size: 150px;
    padding-top:20px;
    display:inline-block;
    margin-top:30px;
}

.principal div:nth-child(4){
    background-color:black;
    width:200px;
    height: 200px;
    color:white;
    text-align: center;
    align-items: center;
    font-size: 150px;
    padding-top:20px;
    display:inline-block;
}