*{
    margin:0;
    padding: 0;
}

.franjaArriba{
    content: "\200B";
    width: 100%;
    height: 20vh;
    
    background-color: blue;
    display: block;
    position: fixed;
}

.franjaArriba{
    width: 100%;
    height: 5vh;
    background-color: blue;
    display: block;
    position: relative;
}
.franjaMedia{
    
    width: 100%;
    height: 90vh; 
    background-color:black;
    display: block;
    position: relative;
}
.franjaAbajo{
    width: 100%;
    height: 5vh;
    background-color: red;
    display: block;
    position: relative;
}

a{
    
    font-weight: bold;
    text-decoration: none;
    color:white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}