*{
    padding:0px;
    margin: 0px;
}
body {
    padding: 50px;
    background-color: beige;
    padding: 50px;
    }
h1 {
    color: brown;
}

.parrafo h1{
    font-style: italic;
    color:blueviolet;
}
.parrafo p::first-letter{
    font-weight: 600;
    text-transform: capitalize;
    font-size:24px;
    
}
    
.parrafo p::first-line{
    font-weight: bold;
}
.main{
    background-color: gainsboro;
    width:800px;
    text-align: center;
}
.container-product{
    width:200px;
    background-color: white;;
    display:inline-block;
    padding-top:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    border-radius:4%;
    height:400px;
    margin-top:40px;
    margin-bottom: 70px;
}
.precio{
    font-weight: bold;
    
}
.container-product{
    text-align: left;
}
.container-product span::after{
    content: "\A";
    white-space: pre;
}



.franjaArriba{
    background-color: black;
}